<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>镇安特产</title>
    <link rel="stylesheet" type="text/css" href="__INDEX__/css/index.css" />
    <script type="text/javascript" src="__INDEX__/js/reg.js"></script>
    <script type="text/javascript"  src="__INDEX__/js/jquery.min.js"></script>
    <script type="text/javascript" src="config/static.php?type=index"></script>
    <script type="text/javascript" src="__INDEX__/js/move.js"></script>
    <script type="text/javascript" src="__INDEX__/js/index.js"></script>
    <script type="text/javascript" src="__INDEX__/js/jquery.nav.js"></script>
</head>
<body>


{include file="public/top"}

<div id="playimages" class="play">
    <div class="prev"><span><</span></div>
    <div class="next"><span>></span></div>
    <ul class="big_pic">
        <li style="z-index:1;"><a href="javascript:;"><img src="__INDEX__/images/banner/pic_04.png" alt=""></a></li>
        <li><a href="javascript:;"><img src="__INDEX__/images/banner/pic_02.png" alt=""></a></li>
        <li><a href="javascript:;"><img src="__INDEX__/images/banner/pic_03.png" alt=""></a></li>
        <li><a href="javascript:;"><img src="__INDEX__/images/banner/pic_01.png" alt=""></a></li>
        <li><a href="javascript:;"><img src="__INDEX__/images/banner/pic_05.png" alt=""></a></li>
    </ul>
    <ul class="small_box">
        <li class="active"></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>


<div class="goods">
    <div class="card">
        <div class="title">金安新春礼品卡<span>/精选优质新品，给你鲜意</span></div>
        <div class="line"></div>
        <div class="content">
            <ul>
                <li><a href="javascript:;"><img src="__INDEX__/images/card.png" alt=""></a></li>
                <li><a href="javascript:;"><img src="__INDEX__/images/card.png" alt=""></a></li>
                <li><a href="javascript:;"><img src="__INDEX__/images/card.png" alt=""></a></li>
                <li><a href="javascript:;"><img src="__INDEX__/images/card.png" alt=""></a></li
            </ul>
        </div>
        <div class="ad_pic"></div>

    </div>
    <div class="springHot">

        <div class="title">金安新春礼品卡<span>/精选优质新品，给你鲜意</span></div>
        <div class="line"></div>
        <div class="content">
            <ul>
                <li><a href="javascript:;"><img src="__INDEX__/images/springhot.png" alt=""></a></li>
                <li>
                    <img src="__INDEX__/images/hot_01_sm.png" alt="">
                    <div class="tit">2019春节定制礼盒</div>
                    <div class="desc">水果定制礼盒，根据水果定价</div>
                    <div class="price">￥0.00</div>
                </li>
                <li>
                    <img src="__INDEX__/images/hot_01_sm.png" alt="">
                    <div class="tit">2019春节定制礼盒</div>
                    <div class="desc">水果定制礼盒，根据水果定价</div>
                    <div class="price">￥0.00</div>
                </li>
                <li>
                    <img src="__INDEX__/images/hot_01_sm.png" alt="">
                    <div class="tit">2019春节定制礼盒</div>
                    <div class="desc">水果定制礼盒，根据水果定价</div>
                    <div class="price">￥0.00</div>
                </li>
                <li>
                    <img src="__INDEX__/images/hot_01_sm.png" alt="">
                    <div class="tit">2019春节定制礼盒</div>
                    <div class="desc">水果定制礼盒，根据水果定价</div>
                    <div class="price">￥0.00</div>
                </li>
                <li>
                    <img src="__INDEX__/images/hot_01_sm.png" alt="">
                    <div class="tit">2019春节定制礼盒</div>
                    <div class="desc">水果定制礼盒，根据水果定价</div>
                    <div class="price">￥0.00</div>
                </li>
                <li>
                    <img src="__INDEX__/images/hot_01_sm.png" alt="">
                    <div class="tit">2019春节定制礼盒</div>
                    <div class="desc">水果定制礼盒，根据水果定价</div>
                    <div class="price">￥0.00</div>
                </li>
                <li>
                    <img src="__INDEX__/images/hot_01_sm.png" alt="">
                    <div class="tit">2019春节定制礼盒</div>
                    <div class="desc">水果定制礼盒，根据水果定价</div>
                    <div class="price">￥0.00</div>
                </li>
                <li>
                    <img src="__INDEX__/images/hot_01_sm.png" alt="">
                    <div class="tit">2019春节定制礼盒</div>
                    <div class="desc">水果定制礼盒，根据水果定价</div>
                    <div class="price">￥0.00</div>
                </li>
                <li>
                    <img src="__INDEX__/images/hot_01_sm.png" alt="">
                    <div class="tit">2019春节定制礼盒</div>
                    <div class="desc">水果定制礼盒，根据水果定价</div>
                    <div class="price">￥0.00</div>
                </li>

            </ul>
        </div>
        <div class="ad_pic"></div>
    </div>
    <div class="springMix"></div>
    <div class="springFood"></div>

</div>


</body>
</html>