
<!--顶部导航条 -->

<div class="header">
    <div class="top">
        <div class="topContent">
            <ul class="reg">
                <li>您好，欢迎光临镇安特产专卖网!</li>
                <li><a href="{:url('login/index')}" target="_top">登录</a></li>
                <li><a href="{:url('register/index')}" target="_top">注册</a></li>
            </ul>
            <ul class="center">
                <li><a href="">我的会员</a></li>
                <li><a href="">帮助中心</a></li>
                <li><a href="">我的订单</a></li>
                <li><a href="">我的收藏</a></li>
                <li><a href="">我的购物车</a></li>
            </ul>
        </div>
    </div>

    <div class="ad"> </div>
    <div class="nav">
        <ul class="bottom">
            <li class="total"><a href="javascript:;">全部分类</a>
                <ul class="sideNav">
                    {volist name="cate_list" id="vo1"}
                    <li><a href="javascript:;">{$vo1.cate_name}</a>
                        <ul class="childNav">
                            {volist name="vo1['children']" id="vo2"}
                            <li><a href="javacript:;">{$vo2.cate_name}</a></li>
                            {/volist}
                        </ul>
                    </li>
                    {/volist}
                </ul>
            </li>
            <li ><a href="javascript:;">首页</a></li>
            <li ><a href="javascript:;">新春特辑</a></li>
            <li ><a href="javascript:;">有机肉禽</a></li>
            <li ><a href="javascript:;">时令鲜果</a></li>
            <li ><a href="javascript:;">企业采购</a></li>
            <li ><a href="javascript:;">关于金安</a></li>
            <li class="search">
                <form>
                    <input  class="serCon"name=" " type="text" placeholder="搜 索" autocomplete="off">
                    <input  class="submit" value="搜索" index="1" type="submit">
                </form>
            </li>

        </ul>
    </div>

</div>